---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="What is a #LizThought"
	pubDate={new Date('August 22 2025')}
	heroImage="/becky-phan-o8-670KHgK8-unsplash.jpg"
>
	<p>
		As a Product Manager, there are endless amounts of tools and frameworks out there to help us
		do our job better. So many activities and ideas, but if you are like me, access to these resources
		either lives in your brain, in a LONG list of bookmarks under the folder "Nerd," or you have to Google
		and search for it. 
	</p>

	<p>
		LizThoughts is intended to be a place where practicing Product Managers (sorry to my Sales friends, 
		and Product Coaches) can not only share tools, but also share how they applied those tools and what the results were. 
	</p>

	<p>
		It's a place for us Product Managers to take the circus out of our heads and have a single place
		to come to and view the monkeys, elephants, and acrobats! It's a community or likeminded individuals.
		Those that are constantly learning and exploring how they can apply those learnings to make great products
		that are viable and that customers love.
	</p>

	<p>
		Photo by Becky Phan on Unsplash
	</p>

</Layout>
