<h1>Strategy</h>

<p>
Strategy. This is a big bucket. Strategy drives (or should drive) everything we do.

But how are we building, reviewing, and maybe even making the decision to pivot our strategy?

</p>

<h2>Vision</h2>
<p>
List of my favorite Vision Articles:
<ol>
<li>[HBR Article: The Elements of Value.](https://hbr.org/2016/09/the-elements-of-value) By, Eric Almquist, John Senior and Nicolas Bloch.
      *<b>Brief Overview:</b> All


<h2>Mission</h2>
